(
    lines: [
        ((1.0, 0.0, 0.0), (-0.8, 0.5, -0.2)),
        ((-0.8, 0.5, -0.2), (-0.5, 0.0, 0.0)),
        ((-0.5, 0.0, 0.0), (-0.8, -0.5, 0.2)),
        ((-0.8, -0.5, 0.2), (1.0, 0.0, 0.0)),
        ((1.0, 0.0, 0.0), (-0.8, 0.5, 0.2)),
        ((-0.8, 0.5, 0.2), (-0.5, 0.0, 0.0)),
        ((-0.5, 0.0, 0.0), (-0.8, -0.5, -0.2)),
        ((-0.8, -0.5, -0.2), (1.0, 0.0, 0.0)),
        ((1.0, 0.0, 0.0), (-0.8, -0.2, 0.5)),
        ((-0.8, -0.2, 0.5), (-0.5, 0.0, 0.0)),
        ((-0.5, 0.0, 0.0), (-0.8, 0.2, -0.5)),
        ((-0.8, 0.2, -0.5), (1.0, 0.0, 0.0)),
        ((1.0, 0.0, 0.0), (-0.8, 0.2, 0.5)),
        ((-0.8, 0.2, 0.5), (-0.5, 0.0, 0.0)),
        ((-0.5, 0.0, 0.0), (-0.8, -0.2, -0.5)),
        ((-0.8, -0.2, -0.5), (1.0, 0.0, 0.0)),
        ((-0.4539, 0.8910, 0.0), (0.8910, 0.4539, 0.0)),
        ((0.8910, 0.4539, 0.0), (0.7853, 0.6190, 0.0)),
        ((0.7853, 0.6190, 0.0), (0.6494, 0.7604, 0.0)),
        ((0.6494, 0.7604, 0.0), (0.4886, 0.8724, 0.0)),
        ((0.4886, 0.8724, 0.0), (0.3090, 0.9510, 0.0)),
        ((0.3090, 0.9510, 0.0), (0.1175, 0.9930, 0.0)),
        ((0.1175, 0.9930, 0.0), (-0.0784, 0.9969, 0.0)),
        ((-0.0784, 0.9969, 0.0), (-0.2714, 0.9624, 0.0)),
        ((-0.2714, 0.9624, 0.0), (-0.4539, 0.8910, 0.0)),
        ((-0.4539, -0.8910, 0.0), (0.8910, -0.4539, 0.0)),
        ((0.8910, -0.4539, 0.0), (0.7853, -0.6190, 0.0)),
        ((0.7853, -0.6190, 0.0), (0.6494, -0.7604, 0.0)),
        ((0.6494, -0.7604, 0.0), (0.4886, -0.8724, 0.0)),
        ((0.4886, -0.8724, 0.0), (0.3090, -0.9510, 0.0)),
        ((0.3090, -0.9510, 0.0), (0.1175, -0.9930, 0.0)),
        ((0.1175, -0.9930, 0.0), (-0.0784, -0.9969, 0.0)),
        ((-0.0784, -0.9969, 0.0), (-0.2714, -0.9624, 0.0)),
        ((-0.2714, -0.9624, 0.0), (-0.4539, -0.8910, 0.0)),
    ],
    colors: PerLine(
        [
            LinearRgba(
                red: 20.0,
                green: 4.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 20.0,
                green: 4.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 20.0,
                green: 4.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 20.0,
                green: 4.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 20.0,
                green: 4.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 20.0,
                green: 4.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 20.0,
                green: 4.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 20.0,
                green: 4.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 20.0,
                green: 4.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 20.0,
                green: 4.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 20.0,
                green: 4.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 20.0,
                green: 4.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 20.0,
                green: 4.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 20.0,
                green: 4.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 20.0,
                green: 4.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 20.0,
                green: 4.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 10.0,
                green: 3.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 10.0,
                green: 3.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 10.0,
                green: 3.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 10.0,
                green: 3.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 10.0,
                green: 3.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 10.0,
                green: 3.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 10.0,
                green: 3.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 10.0,
                green: 3.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 10.0,
                green: 3.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 10.0,
                green: 3.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 10.0,
                green: 3.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 10.0,
                green: 3.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 10.0,
                green: 3.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 10.0,
                green: 3.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 10.0,
                green: 3.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 10.0,
                green: 3.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 10.0,
                green: 3.25,
                blue: 0.0,
                alpha: 1.0,
            ),
            LinearRgba(
                red: 10.0,
                green: 3.25,
                blue: 0.0,
                alpha: 1.0,
            ),
        ]
    ),
)
